<div class="pt-10">
  <div class="flex justify-end">
    <div class="p-2 bg-cyan-600 rounded text-white font-bold">
      {{(podcasts | filterBy: searchValue : 'title' : 'author')?.length || 0}}
    </div>
    <input
      class="border rounded p-2 ml-2"
      type="text"
      placeholder="Filter podcast..."
      [(ngModel)]="searchValue"
    />
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5"
  >
    <app-podcast-card
      *ngFor="
        let podcast of podcasts | filterBy : searchValue : 'title' : 'author'
      "
      [podcast]="podcast"
    ></app-podcast-card>
  </div>
</div>
