<nav class="bg-white shadow-sm">
  <div
    class="flex flex-wrap items-center justify-between mx-auto p-4 max-w-screen-xl"
  >
  <!-- redirect to home -->
    <a class="flex items-center cursor-pointer" (click)="goToHome()">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-cyan-600"
        >Podcaster</span
      >
    </a>
    <span class="relative flex h-6 w-6" *ngIf="isLoading">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-6 w-6 bg-sky-500"></span>
    </span>
  </div>
</nav>
